doctype html
html(lang=config.language)
  head
    include _limbs/head
  body
    header#header
      include _limbs/banner
    section#content
      block content
    footer
      include _limbs/footer