extends base

block content
  -
    sorted_posts = site.posts.toArray().sort(function(a, b) {
      return b.date - a.date;
    });

  ul#post_list
    each post in sorted_posts
      li.post_list_item
        .post_list_date
          = post.date.format("YYYY-MM-DD")
        a.post_list_title(href=url_for(post.path))
          = post.title

