body
{
    width: 80%;
    height:auto;

    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

    color: #00a080;
    background-color: #000000;

    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

@media only screen and (min-width:960px)
{
    body
    {
        width: 666px;
        height:auto;

        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;

        color: #00a080;
        background-color: #000000;

        font-family: 'Exo 2', sans-serif;
        font-size: 18px;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a
{
    color: #0080ff;
    text-shadow: 0px 0px 10px rgba(64,224,255,0.75);
    text-decoration: none;
}

div.leap
{
    margin: 18px;
    color: #fff;
    /*font-size: 18px;*/
    text-align:center;
}

body footer
{
    margin-top: 24px;
    text-align: center;
    border-top: solid 1px #666;
    padding-top: 16px;
}

.group {
    margin: 0px;
    padding: 0px;
}

#index_header {
    text-align: left;
    font-size: 24px;
}

#page_nav {
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#header {
    border-bottom: 4px double #999;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

#site-title {
    /*font-family: serif;*/
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin: 0px;
    margin-top: 0px;
}

#site-subtitle {
    clear: both;
}

#lefty {
    float: left;
    position: relative;
}

#page_nav .links {list-style:none;}
#page_nav ul.group.links {display: inline-flex; padding: 0px;}
#page_nav li.nav_link {margin-right: 9px;}
#page_nav .links li.nav_link:before {content:"/";}

ul#post_list
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: circle;
}

li.post_list_item
{
    text-align: left;
}

div.post_list_date
{
    float: left;
    clear: left;
    margin-right: 12px;
    width: 6.66em;
}

.year header, .year h1, .year ul {display: inline-flex;}

.year h1
{
    font-weight:normal;
    font-size: 18px;
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.year ul { padding: 0px; }

.year .months {margin:0;list-style:none;clear:right;}
.year .months .month {margin:0;margin-left:9px;}

.post h1 {font-size: 24px; font-weight:normal; color: #ffff80;}
.post h2 {font-size: 24px; font-weight:normal; color: #ffff80;}
.post h3 {font-size: 24px; font-weight:normal; color: #ffff80;}
.post h4 {font-size: 24px; font-weight:normal; color: #ffff80;}
.post h5 {font-size: 24px; font-weight:normal; color: #ffff80;}
.post h6 {font-size: 24px; font-weight:normal; color: #ffff80;}

.post header h1 a
{
    color: #ffff80;
    text-shadow: none;
}

.post h1:before {content: "# ";}
.post h2:before {content: "## ";}
.post h3:before {content: "### ";}
.post h4:before {content: "#### ";}
.post h5:before {content: "##### ";}
.post h6:before {content: "###### ";}

header.post {text-align:left;}
footer.post {color: #808080;
             border: 0px;
             width: 100%;
             text-align: right;}

footer time.post {float: left;}

li.tag a {color: #808080;text-shadow: none;}

ul.tags
{
    list-style:none;
    display: inline-block;
    width: 80%;
}

article.post
{
    word-wrap: break-word;
}

li.tag:before {content: "@";}
li.tag {margin:0;margin-left:8px;display: inline-block;}

code {
    border: 1px solid #008080;
    border-radius: 4px;
    background-color: #202020;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:  2px;
    padding-right: 2px;

    font-family: 'Source Code Pro', monospace;
}

figure {
    width: 60%;
    border: 1px solid #008080;
    border-radius: 4px;
    background-color: #202020;

    margin-left: auto;
    margin-right: auto;
}

.highlight .line {
    /*height: 1.5rem;*/
    font-family: 'Source Code Pro', monospace;
}

td.gutter {
    background-color: #101010;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:  2px;
    padding-right: 8px;

    border:0px solid #008080;
    border-right-width: 2px;

    white-space: pre;
}

td.code {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:  8px;
    padding-right: 2px;

    white-space: pre;
}

article blockquote {
    font-style: italic;
    line-height: 1.5em;
    padding-left: 1.5em;
    border:0px solid #008080;
    border-left-width: 4px;
    background-color: #202020;

    margin-left: 0px;
}